<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ziyad.fivefeat">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FiveFeat"
        tools:targetApi="31">
        <activity
            android:name=".main.restaurant.add.AddMenuActivity"
            android:exported="false" />
        <activity
            android:name=".main.restaurant.order.OrderRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".main.restaurant.HomeRestaurantActivity"
            android:exported="false"
            android:label="@string/title_activity_home_restaurant" />
        <activity
            android:name=".auth.restaurant.RegisterRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".auth.restaurant.LoginRestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".main.user.order.OrderActivity"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name=".main.user.TabbedActivity"
            android:exported="false"
            android:label="@string/title_activity_tabbed"
            android:theme="@style/Theme.FiveFeat.NoActionBar" />
        <activity
            android:name=".main.user.menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".auth.user.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".auth.user.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LandingActivity"
            android:exported="false" />
        <activity
            android:name=".main.user.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".service.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>